@use 'element-plus/dist/index.css';

html,
body,
#app {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    font-weight: 400;
    color: var(--el-color-primary);
}
